#content-area {
    overflow: auto;
    width: 100%;
    min-height: 100vh;
}
#filter {
    background-color: $gray;
    width: 25%;
    max-width: 300px;
    display: inline-block;
    float: left;
    .inside {
        padding: 20px;
        max-width: 300px;
    }
    h4 {
        font-size: .9rem;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-weight: 500;
    }
    select {
        background: transparent;
        padding: 10px;
        font-size: 14px;
        font-weight: 500;
        color: darkslategray;
        display: block;
        margin-bottom: 25px;
        width: 100%;
    }
    .filters {
        .title {
            font-size: .9rem;
            display: block;
            margin-bottom: 1rem;
            color: darkslategrey;
        }
        input[type="text"]{
            border-radius: 5px;
            font-size: 1rem;
            padding: .4rem;
            display: inline-block;
            width: 45%;
            margin-right: 2.5%;
            margin-bottom: 1rem;
        }
        &.amenities {
            label {
                display: block;
                width: 100%;
                padding: 10px 0;
                input[type="checkbox"]{
                    float: right;
                }
            }
        }
    }
}

#listings {
    width: 75%;
    display: inline-block;
    float: left;
    padding: 15px;
    background-color: whitesmoke;

    .search-area {
        input[type="text"] {
            width: 70%;
            background: transparent;
            font-size: 2rem;
            border: none;
            border-bottom: 2px solid lightslategray;
            margin-bottom: 20px;
            font-weight: 100;
            color: lightslategray;
        }
    }

    .sort-by-area {
        margin-bottom: 20px;

        .results {
            color: lightslategray;
            font-size: .8rem;
            display: inline-block;
        }

        .sort-options {
            float: right;

            select {
                font-size: .9rem;
                font-weight: 300;
                border: 1px solid lightslategray;
                background: transparent;
                padding: 2px;
                display: inline-block;
                margin-right: 15px;
                vertical-align: top;
            }

            .view {
                display: inline-block;

                .fa {
                    margin-right: 15px;
                    font-size: 1.5rem;
                }
            }
        }
    }

    .listings-results {
        margin-bottom: 60px;

        .listing {
            margin-bottom: 10px;
            background-color: #fff;
            border-radius: 5px;
            -webkit-box-shadow: 0px 9px 55px 0px rgba(115,86,115,1);
            -moz-box-shadow: 0px 9px 55px 0px rgba(115,86,115,1);
            box-shadow: 0px 9px 55px 0px rgba(115,86,115,1);
        }

        .listing-img {
            position: relative;
            color: white;
            padding: 10px;
            background: url("https://static2.mansionglobal.com/production/media/article-images/bffe1680cb3a807c014b471251395b94/large_20180710200007577835000000-o.jpg") no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            min-height: 200px;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            &:hover {
                .details {
                    opacity: 1;
                }

                .address {
                    opacity: 0;
                }
            }

            .address {
                font-size: 1.2rem;
                text-transform: capitalize;
                font-weight: 500;
                position: absolute;
                bottom: 15px;
                opacity: 1;
                transition: all .4s ease-in-out;
                text-shadow: 0px 1px 6px rgba(106, 106, 106, 1);
            }

            .details {
                transition: all .4s ease-in-out;
                opacity: 0;
                padding: 25px;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: -moz-linear-gradient(-45deg, rgba(151,33,206,.8) 0%, rgba(111,28,150,.8) 100%, rgba(137,74,136,.8) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, rgba(151,33,206,.8) 0%,rgba(111,28,150,.8) 100%,rgba(137,74,136,.8) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, rgba(151,33,206,.8) 0%,rgba(111,28,150,.8) 100%,rgba(137,74,136,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9721ce', endColorstr='#894a88',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                -webkit-border-top-left-radius: 5px;
                -webkit-border-top-right-radius: 5px;
                -moz-border-radius-topleft: 5px;
                -moz-border-radius-topright: 5px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;

                .user-img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 2px solid white;
                    display: inline-block;
                    background: url("https://static2.mansionglobal.com/production/media/article-images/bffe1680cb3a807c014b471251395b94/large_20180710200007577835000000-o.jpg") no-repeat center center;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                }

                .user-details {
                    display: inline-block;
                    vertical-align: top;

                    .user-name {
                        margin-top: 3px;
                        margin-bottom: 5px;
                        font-weight: 300;
                        color: rgba(255,255,255,1);
                        display: block;
                        font-size: .9rem;
                    }

                    post-date {
                        font-size: .9rem;
                        color: rgba(255,255,255,.7);
                        display: block;
                    }
                }

                .listing-details {
                    margin-top: 20px;
                    margin-bottom: 10px;

                    .fa {
                        display: inline-block;
                        font-size: 20px;
                        margin-right: 15px;
                    }

                    span {
                        display: inline-block;
                        font-size: .8rem;
                        font-weight: 300;
                        vertical-align: top;
                        position: relative;
                        top: 3px;
                    }

                    .floor-space {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .bottom-info {
            padding: 15px;

            .price {
                font-size: 1rem;
                display: block;
                margin-bottom: 10px;
                color: darkslategray;
            }

            .location {
                font-size: 1.2rem;
                display: block;
                color: lightslategray;
            }
        }
    }
}


.view-btn {
    max-width: 100px;
    padding: 8px;
    font-size: .9rem;
    border-radius: 5px;
    text-align: center;
    background: black;
    transition: background .3s ease-in-out;
    &:hover {
        background: $pink;
        cursor: pointer;
        }
}
.pagination {
    text-align: center;
    .pages {
        margin: 0 auto;
        display: inline-block;
        -webkit-box-shadow: 0px 9px 55px 0px rgba(115,86,115,1);
        -moz-box-shadow: 0px 9px 55px 0px rgba(115,86,115,1);
        box-shadow: 0px 9px 55px 0px rgba(115,86,115,1);

        li {
            display: inline-block;
            padding: 20px 30px;
            &.active,
            &:hover {
                cursor: pointer;
                background: $pink;
                color: white;
                font-weight: 600;
            }
        }
    }
}

